
<main class="main">
    
    <form class="login-form" [formGroup]="loginForm">
        
        
        <label>Login</label>
        <input formControlName="username" class="login-input" type="text" placeholder="login" required>

        <label>Password</label>
        <input formControlName="password" class="login-input" type="text" placeholder="Password" required>

        <button [disabled]="!loginForm.valid" (click)="login()" class="login-btn" type="submit">Enter</button>
        <p class="form-error" *ngIf="wrongCreds">Wrong username or password</p>
    </form>
</main>
