<div class="children-data">
    <h1 class="children-heading">List of all users</h1>
    <div class="children-card">
        <table id="table-list">
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>City</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>0930060946</td>
              <td>Lviv</td>
            </tr>
            <tr>
              <td>Berglunds snabbköp</td>
              <td>0930060946</td>
              <td>Lviv</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>0930060946</td>
              <td>Lviv</td>
            </tr>
            <tr>
              <td>Ernst Handel</td>
              <td>0930060946</td>
              <td>Lviv</td>
            </tr>
            <tr>
              <td>Island Trading</td>
              <td>0930060946</td>
              <td>Lviv</td>
            </tr>
            <tr>
          </table>
    </div>

    
</div>

